.ui.container
	#menu.doubling.stackable.equal.width.six.column.center.aligned.middle.aligned.ui.grid.container
		.column
			.ui.tiny.secondary.inverted.button(onclick="render()") All Articles
		.column
			.ui.tiny.secondary.inverted.button(onclick="render('management')") For Managers
		.column
			.ui.tiny.secondary.inverted.button(onclick="render('design')") For Designers
		.column
			.ui.tiny.secondary.inverted.button(onclick="render('development')") For Developers
		.column
			.ui.tiny.secondary.inverted.button(onclick="render('pug')") About Pug
		.column
			.ui.tiny.secondary.inverted.button(onclick="render('trinity')") HTML/CSS/&#8203;JavaScript
.ui.container
	| &nbsp;
