

.ui.container
	.ui.grid(style='height:9em')
		.computer.only.middle.aligned.five.wide.column
			a.large(href='https://www.nbake.org', style='color:white;') Visit nbake.org
		.computer.only.middle.aligned.center.aligned.six.wide.column
			a(href='/home')
				h1
					span(style='color:#C4DC0A;text-shadow: 1px 0 0 #373636, 0 -1px 0 #373636, 0 1px 0 #373636, -1px 0 0 #373636;')  nbake 
					span(style='color:#F5F5F5;') blog
		.computer.only.middle.aligned.right.aligned.five.wide.column
			.ui.inverted.button Subscribe
		.tablet.only.mobile.only.middle.aligned.eight.wide.column
			a(href='/home')
				h1
					span(style='color:#C4DC0A;') nbake 
					span(style='color:#F5F5F5;') blog
		.tablet.only.mobile.only.middle.aligned.right.aligned.eight.wide.column
			.ui.large.inverted.button Subscribe


//-side
//-.ui.fixed.vertical.inverted.sidebar.menu
	a.active.item(href='/page/one') 
		i.left.icon.star
		| One
	a.item(href='/page/two')
		i.left.icon.book
		| Two
	a.item(href='/blog')
		i.left.icon.book
		| Blog


//-top
//-.ui.fixed.inverted.menu
	.ui.container
		a.toc.item
			i.sidebar.icon
		.item MySite

		a.item(href='/page/one') One
		a.item(href='/page/two') Two
		a.item(href='/blog') Blog
	.right.menu
		a.item(href='https://github.com/topseed/topseed-blog') Git

