extends /plugin/_layout

block head
	title #{title}

block main
	include /plugin/_menu
	.ui.container
		.ui.segments
			.ui.segment
				p
				//-.ui.text.container
					//-include _pinc.pug
				.ui.three.doubling.cards
				//-.data
					a.ui.blurring.fluid.blue.card(href='/blog/20180425_what_makes_really_great_ui')
						.image
							img(src='/blog/20180425_what_makes_really_great_ui/assets/img/light768.jpg')
						.content
							.header What makes really great UI
							.meta April 25, 2018
							.description
								| In this article, we talk about what makes really great UI.
						.extra.content
							| Author info here
					a.ui.blurring.fluid.blue.card(href='/blog/20180202_what_makes_great_ui')
						.image
							img(src='/blog/20180202_what_makes_great_ui/assets/img/city768.jpg')
						.content
							.header What makes great UI
							.meta Feb 2, 2018
							.description
								| In this article, we talk about what makes great UI.
						.extra.content
							| Author info here
					a.ui.blurring.fluid.blue.card(href='/blog/20171231_what_makes_great_software')
						.image
							img(src='/blog/20171231_what_makes_great_software/assets/img/beach768.jpg')
						.content
							.header What makes great Software
							.meta December 31, 2017
							.description
								| In this article, we talk about what makes great Software.
						.extra.content
							| Author info here
					a.ui.blurring.fluid.blue.card(href='/blog/20171125_what_makes_great_ux')
						.image
							img(src='/blog/20171125_what_makes_great_ux/assets/img/city768.jpg')
						.content
							.header What makes great UX
							.meta November 25, 2017
							.description
								| In this article, we talk about what makes great UX.
						.extra.content
							| Author info here
					a.ui.blurring.fluid.blue.card(href='/blog/20170528_what_makes_a_good_manager')
						.image
							img(src='/blog/20170528_what_makes_a_good_manager/assets/img/beach768.jpg')
						.content
							.header What makes a good Manager
							.meta May 28, 2017
							.description
								| In this article, we talk about what makes a good Manager
						.extra.content
							| Author info here
					a.ui.blurring.fluid.blue.card(href='/blog/20170425_what_makes_good_ui')
						.image
							img(src='/blog/20170425_what_makes_good_ui/assets/img/light768.jpg')
						.content
							.header What makes good UI
							.meta April 25, 2017
							.description
								| In this article, we talk about what makes good UI.
						.extra.content
							| Author info here
	script.
	loadjs.ready(['core'], function () {// load data
		console.log('core done', Date.now()-_start)
	})
