

p Hello

#here

script.
	loadjs('feed_d.js', 'binding', {async: false})

	let cur = 0

	loadjs.ready(['feed','binding'], function () {
		console.log('binding')
		let $t = $('<div></div>')//detached

		$t = addOne($t, 0)
		$('#here').append( $t )

	})

	function addOne($t, i) {
		let item = feed.items[0]
		item.url = item.url +'/'
		item.image = '/blog/' + item.url + item.image

		console.log(item.image)

		var el = feedDBind(item)
		$t.append(el)
		return $t
	}