
p
br
p
button#add.ui.button(type='submit') Add
p
#here

script.
	loadjs('feed_d.js', 'binding', {async: false})

	loadjs.ready(['feed','binding'], function () {
		addFew()
	})

	loadjs.ready('core', function() {
		$('#add').click(function() {
			addFew()
		})
	})//ready

	function addFew() {
		let $t = $('<div></div>')//detached
		let c = 2 // add N items
		while(c>0) {
			$t = _addOne($t )
			c--
		}
		$('#here').append( $t )
		console.log('done binding')
	}//*()
	let cur = 0
	function _addOne($t) {
		let sz = feed.items.length
		if(--sz <= cur ) { // array guard
			console.log(feed.items.length, cur)
			return $t
		}
		let item = feed.items[cur++]
		item.url = item.url +'/'
		item.image = '/blog/' + item.url + item.image
		console.log(item.image)
		var el = feedDBind(item) //bind!
		$t.append(el)
		return $t
	}//()