
#here

script.
	loadjs('feed_d.js', 'binding', {async: false})

	loadjs.ready(['feed','binding'], function () {

		addFew()
	})

	let cur = 0

	function addFew() {
		let $t = $('<div></div>')//detached

		let c = 3 // add 3
		while(c>0) {
			$t = _addOne($t )
			c--
		}

		$('#here').append( $t )
		console.log('done binding')
	}//*()

	function _addOne($t) {
		let sz = feed.items.length
		if(--sz <= cur ) {
			console.log(feed.items.length, cur)
			return $t
		}

		let item = feed.items[cur++]
		item.url = item.url +'/'
		item.image = '/blog/' + item.url + item.image

		console.log(item.image)

		var el = feedDBind(item)
		$t.append(el)
		return $t
	}//()