

p Hello

#here

script.
	loadjs('feed_d.js', 'binding', {async: false})

	loadjs.ready(['feed','binding'], function () {
		console.log('bind')
		var data = {
			'myNum': Math.floor(Math.random() * 20)
		}

		$('#here').html(feedDBind(data))
	})