

p Hello

#here

script.
	loadjs('feed_d.js', 'binding', {async: false})

	loadjs.ready(['feed','binding'], function () {
		console.log('bind')

		let item = feed.items[0]
		item.url = item.url +'/'
		item.image = '/blog/' + item.url + item.image

		console.log(item.image)


		$('#here').html( feedDBind(item) )

	})