extends /layout1/_layout
//- App Shell

block head
	//static binding ex:
	title #{title}
	script.
		let feed
		loadjs.ready(['core'], function () {// load data
			fetch('/blog/items.json').then(function(resp) {
				return resp.json()
			}).then(function(json) {
				feed = json
				console.log(data)
				loadjs.done('feed')
			})
		})

block main

	p
	.ui.text.container
		include blog.pug

	script.
		loadjs.ready('style', function () {
			console.log('page 1 script here')
		})

